<h1><%= @user.username %></h1>


<h2>Events created by <%= @user.username %></h2>

<ul>
  <% @user.created_events.each do |created_event| %>
    <li>
      <%= link_to created_event.location, created_event %>
      <% if @user.id == current_user.id %>
        <%= button_to 'Edit', edit_event_path, method: :get %>
      <% end %>
      <%= button_to 'Delete', event_path, method: :delete %>
    </li>
  <% end %>
</ul>

<h2><%= @user.username %> will be attending</h2>

<ul>
  <% @user.attended_events.where('date > ?', Time.now).each do |attended_event| %>
    <li><%= link_to attended_event.location, attended_event %></li>
  <% end %>
</ul>

<h2><%= @user.username %> attended these events</h2>

<ul>
  <% @user.attended_events.where('date <= ?', Time.now).each do |attended_event| %>
    <li><%= link_to attended_event.location, attended_event %></li>
  <% end %>
</ul>

<div>
  <%= button_to 'Create event', new_event_path, method: :get %>
</div>
